<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MsC Language Science and Technology </h1>
            <span>University of Saarland</span>
            <span><address>Saarbruecken, Germany</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Bachelor In Computer Science</h1>
            <span>Universidad del Valle, Colombia</span>
            <span><address>Cali, Colombia</address></span>
        </header>
        
    </article>
</section>