<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>NLP Software Engineer at Idio</h1>
            <span><address>London, UK</address><time>2013 to Present</time></span>
        </header>
        <p>Joined Idio in 2013 at an early startup stage, currently working  as part of the R&D Team.</p>

        <p>
             The role included both setting up NLP pipelines but also taking care of the infrastructure behind it (AWS, Chef)
        </p> 
    
        <br>
        <p>
            projects included:
            <ul>
                <li>Bootstraping/Managing Ontologies</li>
                <li>Using Client corpora to create Name Entity Linking Systems</li>
                <li>Domain adaptation of Name Entity Systems</li>
                <li>Using Entities as features for Recommendation Systems</li>
                <li>Using tools as Spark to crunch big datasets</li>
                <li>Creation of Multilang Word Embeddings</li>
            </ul>    
        </p>
        <p>
            <header> 
                 <h1> Technologies used</h1>
                 <p><span>Scala, Python, Spark, Python, SBT, Neo4j, Wikidata, Freebase, DBPedia, AWS</span></p>
            </header>
        </p>
    </article>
    <article>
        <header>
            <h1>Google Summer of Code Mentor </h1>
            <span><address>Remotely</address><time>2015</time></span>
        </header>
        <p>Participated as a mentor guiding students on making contributions to DBpedia Spotlight. 
The projects aimed at better entity linking by improving Disambiguation, it also aimed at using apache spark to improve language model creations. </p>

        <p>
            <header> 
                 <h1> Technologies used</h1>
                 <p><span>Scala, Python, Java, Apache Spark </span></p>
            </header>
        </p>
    </article>
    <article>
        <header>
            <h1>Software Engineer at Meridean</h1>
            <span><address>Remotely(Colombia)</address><time>2014</time></span>
        </header>
        <p>Joined Meridean remotely after contributing to open source projects of their interest. 
Meridian uses NLP technologies to analyse brand perceptions and health.</p>

    <p>
    My tasks focused on: 
    <ul>
        <li>Improving the knowledge resources for Spanish NLP</li>
        <li>Setting up the pipeline for classifying and clustering text by
        industries</li>
        <li>Improve their sentiment analysis pipeline</li>
    </ul>
   </p>

        <p>
            <header> 
                 <h1> Technologies used</h1>
                 <p><span>Scala, Python, Java, Apache Spark </span></p>
            </header>
        </p>

    </article>
    <article>
        <header>
            <h1>Research Assistant at Saarland University</h1>
            <span><address>Saarland, Germany</address><time>2012 - 2013 </time></span>
        </header>
        <p>Part of the <a href="http://www.coli.uni-saarland.de/projects/
smile/page.php?id=people" target="_blank">Smile Project</a>. 
My tasks were various but included: Refactoring code, Annotating evaluation data. 
The most relevant task including implementing new semantic representations to find paraphrases in text</p>

        <p>
            <header> 
                 <h1> Technologies used</h1>
                 <p><span>Python, Java, Scala, C++</span></p>
            </header>
        </p>
    </article>
    <article>
        <header>
            <h1> Young Researcher  at Universidad del Valle Colombia</h1>
            <span><address>Cali, Colombia</address><time>2009 to 2012</time></span>
        </header>
        <p> After graduating joined a project funded by the colombian government called “Young researcher”. Worked in a project focused on graphs, and optimisation problems. 
Part of my tasks were helping professors giving lectures and tutorials about programming and algorithms.
        </p>

                <p>
            <header> 
                 <h1> Technologies used</h1>
                 <p><span>Java, Latex, C++ </span></p>
            </header>
        </p>
    </article>
</section>