<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>datosabiertos.co</h1>
           
        </header>
        <p>
            Boostrapped the first Colombian Community around open data.<br>My activies concern: 
            <ul>
                <li>Democratic access  to public Datasets</li>
                <li>Creation of Scrapers</li>
                <li>Community Management (Engaging  with Journalists and Software Engineers)</li>
                <li>Analysis of datasets (contracts data, unestructured data i.e: text)</li>
            </ul>    

            <br>
            More information on my [medium blog](https://medium.com/@dav009/) 
        </p>
    </article>


    <article>
        <header>
            <h1>Wiki2vec (2015) - https://github.com/idio/wiki2vec</h1>
           
        </header>
        <p>
           As part of an internal hackathon at Idio, I ensemble a pipeline for creating word mbeddings for Wikipedia entities.
            
        </p>
    </article>

    <article>
        <header>
            <h1>Spotlight Model Editor (2014) - https://github.com/idio/spotlight-model-editor</h1>
           
        </header>
        <p>
          As part of an internal hackathon at Idio. This project allows to modify Entity Models as a first milestone for creating domain specific entity linkers
            
        </p>
    </article>


</section>